<p id="notice"><%= notice %></p>

<p>
  <strong>物件名:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @property.rent %>円
</p>

<p>
  <strong>住所:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @property.age %>年
</p>

<p>
  <strong>備考:</strong>
  <%= @property.notes %>
</p>

<% @property.the_nearest_stations.each_with_index do |the_nearest_station, i| %>
  <h3>最寄駅<%= i + 1 %></h3>

  <p>
    <strong>路線名</strong>
    <%= the_nearest_station.line_name %>
  </p>

  <p>
    <strong>駅名</strong>
    <%= the_nearest_station.station_name %>
  </p>
  
  <p>
    <strong>徒歩分数</strong>
    <%= the_nearest_station.minuites_on_foot %>分
  </p>
<% end %>

<%= link_to '編集', edit_property_path(@property) %> |
<%= link_to '戻る', properties_path %>
